*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .first-item{
    height: 200px;
    width: 200px;
    background-color: blue;
    float: left;
}
.second-item{
    height: 150px;
    width: 150px;
    background-color: brown;
    float: right;
}

.main-box{
    background-color: blueviolet;
}
.main-box:after {
    content: '';
    clear: both;
    display: block;
}
.wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;

    background-color: green;
}

.first-item:first-child{
    width: 200px;
} */

html,body{
    width: 100%;
    height: 100%;

}
body{
    padding: 2%;
}
.parents-block{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 2%;
}
.child-block{
    height: 100%;
    width: 100%;
    background-color: red;
    
}
.small-box{
    height: 100%;
    width: 33%;
    background-color: blue;
    display: inline-block;
}